<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

        <link rel="stylesheet" href="css/normalize.css">
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="css/main.css">
        <link rel="stylesheet" href="css/nv.d3.css">
        <link rel="stylesheet" href="css/angular.rangeSlider.css">
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,700,400' rel='stylesheet' type='text/css'>
        <script src="js/vendor/modernizr-2.6.2.min.js"></script>
    </head>
    <body ng-app="nVision" ng-controller="experimentController as experimentCtrl">
    
    <div style="height:100%" class="maincontainer" ng-class="{'overlay':!(( experimentCtrl.phase > 1 && experimentCtrl.phase < 7) || experimentCtrl.phase == 9)}" ng-controller="navController as navCtrl">
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <header id="nav-header">   

            <div id="logoBox">
                <h1><span class="green">N</span>VISION</h1>
            </div>

            <nav tabs id="navigation">
            </nav>

        </header>
        
        <nav id="sidebar" ng-controller="sidebarController as sidebarCtrl" ng-class="{'arrowsenabled': sidebarCtrl.dataService.getArrowsEnabled()}">
            <!-- Dimension list -->
            <div class="vertical-half" style="border-bottom: thin dashed #ddd;" ng-style="sidebarCtrl.dataService.getArrowsEnabled() && {'height':'25%'}">


                <h3 style="padding-top:15px">Dimensions</h3>
                <dimension-list></dimension-list>


            </div>
            
            <div class="vertical-half" ng-style="sidebarCtrl.dataService.getArrowsEnabled() && {'height':'75%'}">
                

                <div class="infoflowcurvecontainer" ng-if="sidebarCtrl.dataService.getArrowsEnabled()" >
                    <div class="infoflowcurve"
                    ng-style="{
                    'width': ((sidebarCtrl.calculateFilterPercentage(0)/100)*132)+'px', 
                    'height': ((sidebarCtrl.calculateFilterPercentage(0)/100)*132)+'px',
                    'margin-left': 97.5-((sidebarCtrl.calculateFilterPercentage(0)/100)*33)+'px'
                    }">
                        
                        <div class="base">
                        </div>
                        <div class="overlay">
                        </div>
                        <div class="horizontal">
                        </div>
                        <div class="vertical">
                        </div>
                    </div>
                </div>
                
                
                <div ng-if="sidebarCtrl.dataService.getArrowsEnabled()" class="topshadow"></div>
                <h3 style="margin-top: 15px;">Global Filters</h3>
                <div ng-if="sidebarCtrl.dataService.getArrowsEnabled()" class="bottomshadow"></div>
                <global-filters></global-filters>


            </div>
        </nav>
        
        <section id="visualizations" class="with-transitions">
            <sheet ng-repeat="sheet in navCtrl.sheets" ng-show="sheet.active" ng-controller="sheetController as sheetCtrl" class="sheet">
            </sheet>
        </section>
        
        <section id="help">
            <div class="textbox">
                <h3 ng-show="navCtrl.sheets.length == 0">Add a sheet first</h3>
                <p ng-show="navCtrl.sheets.length == 0">On the sheets you can add visualizations. The plus button on the top left enables you to add sheets.</p>
            </div>
        </section>
        
        
        
        <script src="js/vendor/jquery-1.11.2.js"></script>
        <script src="js/vendor/jquery-ui.min.js"></script> 
        <script src="js/vendor/jquery-ui-touch-punch.min.js"></script>
        <script src="js/vendor/d3.min.js"></script>
        <script src="js/vendor/angular.min.js"></script> <!-- change to minified version when done -->
        <script src="js/vendor/angular-dragdrop.min.js"></script>
        <script src="js/plugins.js"></script>
        <script src="js/vendor/nv.d3.min.js"></script>
        <script src="js/vendor/angular.rangeSlider.js"></script>
        
        <!-- Angular javascript files -->
        <script src="js/experiment/experiment.js"></script>
        <script src="js/header/header.js"></script> 
        <script src="js/services/services.js"></script> 
        <script src="js/sheets/sheets.js"></script>
        <script src="js/sidebar/sidebar.js"></script>
        <script src="js/help/help.js"></script> 
        <script src="js/visualizations/visualizations.js"></script>

        <script src="js/app.js"></script>
    </div>

    <experiment-overlay ng-class="{'sm':( experimentCtrl.phase > 1 && experimentCtrl.phase < 7) || experimentCtrl.phase == 9, 'pop-down':!experimentCtrl.overlay}"></experiment-overlay>
    </body>
</html>