<ul>
	<div class="dimensionBox" ng-repeat="dimension in sidebarCtrl.filters">

		<div ng-if="sidebarCtrl.dataService.getArrowsEnabled()" class='infoflow' ng-style="{'width': sidebarCtrl.calculateFilterPercentage($index)*0.4+'%' }"> {{ sidebarCtrl.calculateFilterPercentage($index) | number : 0 }}%</div>

		<li class="filled" jqyoui-droppable jqyoui-options="{activeClass: 'ui-state-default', hoverClass: 'ui-state-hover', accept: '.ui-draggable:not(.string)'}" data-drop="true" ng-model="sidebarCtrl.filters[$index]">
			{{ dimension.name }}
		</li>

		<div class="icon">
			<span ng-click="sidebarCtrl.removeFilter($index)" class="glyphicon glyphicon-remove"></span>
		</div>
		
		<div on-handle-up="sidebarCtrl.createFilter()" ng-hide="dimension.min == 0 && dimension.max == 0" range-slider min="dimension.min" max="dimension.max" show-values="true" model-min="dimension.userMin" model-max="dimension.userMax"></div>

	</div>
	<div ng-if="sidebarCtrl.dataService.getArrowsEnabled()" class='infoflow top'></div>
	<!-- One filter drop field is always visible -->
	<div class="dimensionBox">
		<li jqyoui-droppable jqyoui-options="{activeClass: 'ui-state-default', hoverClass: 'ui-state-hover', accept: '.ui-draggable:not(.string)'}" data-drop="true" ng-model="sidebarCtrl.filters[sidebarCtrl.filters.length]">
		</li>
	</div>
	<div ng-if="sidebarCtrl.dataService.getArrowsEnabled()" style="height:50px" class='infoflow top'></div>
</ul>

<div class="clearfix"></div>
<img style="margin-left: 43px; margin-top: -20px;" src="img/cloud.svg" ng-show="sidebarCtrl.dataService.getArrowsEnabled()">
<!-- <json-loader></json-loader> -->