<div class="dropbar" ng-repeat="(key, dimension) in dimensions">
	<div class="title">{{ key }}:</div>
	<ul jqyoui-droppable jqyoui-options="{activeClass: 'ui-state-default', hoverClass: 'ui-state-hover', accept: ':not(.ui-sortable-helper)'}" data-drop="true" ng-model='dimensions[key]'>
		<li ng-show="dimension">{{ dimension }}
			<div class="icon">
				<span ng-click="dimensions[key] =''" class='glyphicon glyphicon-remove'></span>
			</div>
		</li>
	</ul>
</div>
<div class="clearfix"></div>
<div class="select-dimensions" ng-hide="dimensionsSet"><h3>Drag dimensions to the axes</h3></div>